<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Samoyed</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Beagle</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Alaskan Malamute</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>German Shepherd </string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rottweiler</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Poodle</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Xoloitzcuintli</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Dachshund</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Dalmatian</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chow Chow</string>
		<key>Categories</key>
		<dict>
			<key>Characteristics</key>
			<array/>
			<key>Size</key>
			<array/>
			<key>Color</key>
			<array/>
		</dict>
	</dict>
</array>
</plist>
